#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.app-container {
  margin: 1em auto;
}

.parallax-hero {
  position: relative;
  height: 50vh; /* half screen */
  background-image: url('/header/banner.png');
  background-size: contain;
  background-position: center top;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: -10em;
  padding: 0;
}

.directories-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;           /* Stays at the top of the viewport when scrolled to this position */
  padding: 10px 0;
  z-index: 1000;    /* Ensures the header is above other content */
  width: 100%;
  gap: 1em;
}

.header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -15em;
}

.header-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-picture {
  width: 90%;
  height: 500px;
  margin: auto;
  object-fit: cover;
}

.section-header {
  text-align: center;
  padding: 1em 0em;
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
}

.contacts-section, .skills-section, .profile-details, .projects-section {
  margin: 10em 0em;
}

.experiences-section {
  margin-bottom: 10em;
}

.experiences-container {
  display: flex;
  gap: 2rem;
  margin: 2em 0em;
  text-align: left;
  padding: 0.5em;
}

.experiences-role {
  display: flex;
  gap: 1rem;
  padding: 0em;
  margin-bottom: 1em;
}

.experiences-period {
  min-width: 100px;
  text-align: right;
}

.experiences-details {
  border-left: 2px solid white;
  padding-left: 1em;
}

.experiences-name {
  margin: 0;
}

.experiences-company {
  display: flex;
  align-items: center;     /* Centers vertically along the cross axis */
  gap: 0.5em;
}

.certifications-container {
  text-align: center;
  margin-bottom: 5em;
  padding: 0.5em;
}

.certifications-name {
  margin-top: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  padding: 0em 2em;
}

.skill-header {
  margin-top: 0;
}

.skill-container {
  border: 2px solid white;
  border-radius: 12px;
  margin: 2em 0.5em;
  padding: 2em;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.projects-container {
  margin: 3em auto;
  padding: 0.5em;
}

.projects-thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.projects-details {
  gap: 1em;
}

.projects-header {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 1em;
  margin-bottom: 0em;
  border-bottom: 2px solid white;
}

.projects-technical-desc-item {
  padding-top: 0.5em;
  padding-right: 0.5em;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.footer-btn-to-top {
  width: 200px;
}

/* Hovers */

.experiences-container:hover,
.certifications-container:hover,
.skill-container:hover,
.projects-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.skill-container:hover {
  margin: 0em;
}

.contacts-icon:hover {
  color: rgba(255, 255, 255);
}

.projects-thumbnail:hover {
  transform: scale(1.2);
}


@media (min-width: 768px) {
  .app-container {
    margin: 1em 10em;
  }

  .header-section {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-end;
    gap: 2em;
  }

  .header-picture {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
  
  .header-title {
    font-size: 5rem;
    font-weight: bold;
  }

  .profile-details {
    display: flex;
    gap: 5rem;
  }

  .experiences-section {
    margin-bottom: 0em;
  }

  .experiences-period {
    min-width: 200px;
  }

  .skill-container {
    border: 2px solid white;
    border-radius: 12px;
    margin: 2em;
    padding: 2em;
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    gap: 5rem;
  }

  .projects-thumbnail {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
  }

  .projects-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2em;
  }
}